

<!-- <div>
    <p-drawer [(visible)]="visible" header="Menu" [closable]="true"></p-drawer>
    <div class="grid grid-cols-9 gap-4 m-4">
        <div class="col-span-3 mt-8 ml-4">  
            <p-button (click)="visible = true" icon="pi pi-bars" styleClass="menu-button" />
        </div>
        <img class="col-span-3 justify-self-center" src="templogo.png" alt="cafemon logo" width="150px" height="150px"/>
    </div>
</div> -->


<!-- <div>
    <div class="grid grid-cols-3 gap-4 m-4">
        <img class="col-start-2 justify-self-center" src="templogo.png" alt="cafemon logo" width="150px" height="150px"/>
    </div>

    <div class="flex">
        <div class="menu-card m-4 p-4 flex-none" [ngClass]="{'grow-1' : closedMenu}">
            <p-card>
                <div class="inline-flex">
                    <p-button (click)="closedMenu = !closedMenu" icon="pi pi-bars" class="menu-button" />
                    <div class="title-text ml-4">Menu</div> 
                </div>               
            </p-card>
        </div>
        <div class="flex-1 align-items-center justify-center">
            <p>hello</p>
        </div>
    </div>
</div> -->


<!-- nav bar -->
<div>
    <div class="grid grid-cols-3 gap-4 p-4">
        <img class="col-start-2 justify-self-center" src="templogo.png" alt="cafemon logo" width="150px" height="150px"/>
    </div>
</div>






